<div class="main-container">
    <div class="form-container">
        <div>
            <mat-form-field>
                <mat-label class="datepicker-toggle">Date</mat-label>
                <input matInput [matDatepicker]="myDatePicker"  (dateChange)="onDateChanged($event)">
                <mat-datepicker-toggle matSuffix [for]="myDatePicker" class="datepicker-toggle"></mat-datepicker-toggle>
                <mat-datepicker #myDatePicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Time</mat-label>
                <mat-select (selectionChange)="onTimeChanged($event)">
                <mat-option *ngFor="let slot of timeSlots" value="{{slot}}">
                    {{slot}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button mat-stroked-button (click)="onCheckAvailability()">Check availability</button>
        </div>
    </div>
</div>
