<h1 mat-dialog-title>Here is the availability for the room for this slot</h1>
<div mat-dialog-content>
    <div *ngIf="availability; else noAvailabilityBlock">
        Congratulation the room is free for this date: {{dateTime}}
    </div>
    <ng-template #noAvailabilityBlock>
        Sorry, unfortunately the room is not available for this date: {{dateTime}}
    </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>